  <div class= 'row'>   
    <div class= 'col-xs-12'>
        <%= form_for(@payment, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :amount %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :amount, class: "form-control", placeholder: "Amount of Payment", autofocus: true %>
                </div>
            </div>
                <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :description %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_area :description, rows: 10, class: "form-control",  placeholder: "Pay for" %>
                 </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit "Make Payment", class: 'btn btn-primary btn-lg' %>
                </div>
                </div>
        </div>
    </div>
</div>
<% end %>